<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../campus-core-student/campus-core-student-list.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<!--
`campus-core-class-student`
@demo demo/campus-core-class-student.html
-->
<dom-module id="campus-core-class-student">
    <style include="iron-flex iron-flex-alignment"></style>
    <style>
    :host {
        display: block;
        position: relative;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    
    :host paper-item {
        color: rgba(0, 0, 0, .67);
    }
    
    :host paper-item:hover {
        background-color: rgba(0, 0, 0, .13);
        cursor: pointer;
    }
    
    :host paper-dialog> *:first-child,
    :host paper-dialog> *:last-child {
        margin: 0;
    }
    
    :host paper-dialog-scrollable {
        --paper-dialog-scrollable: {
            padding: 0;
        }
    }
    
    :host .ellipsis-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    :host .dark-primary-text-color {
        color: var(--dark-primary-color);
    }
    
    :host .primary-text-color {
        color: var(--primary-text-color);
    }
    
    :host .secondary-text-color {
        color: var(--secondary-text-color);
    }

    :host .tbar {
        padding: 4px 12px 4px 16px;
        line-height: 24px;
    }
    
    :host .tpib {
        width: 32px;
        height: 32px;
        padding: 4px;
    }
    </style>
    <template>
        <div class="layout horizontal center wrap secondary-text-color tbar">
            <div class="flex-auto" style="font-size:18px">[[translate._01]]</div>
            <paper-icon-button class="tpib" icon="icons:add" on-tap="_showStudentDialog"></paper-icon-button>
        </div>
        <paper-material style="background:#fff;min-height:48px">
            <template is="dom-repeat" items="[[items]]">
                <paper-item style="border-top:1px solid #eee;margin-top:-1px">
                    <div class="secondary-text-color" style="margin-right:5px;width:26px">[[item.SeatNo]]</div>
                    <div class="primary-text-color flex ellipsis-text">[[item.Name]]</div>
                    <paper-icon-button icon="icons:delete" class="secondary-text-color" on-tap="_removeItem"></paper-icon-button>
                </paper-item>
            </template>
        </paper-material>
        <paper-toast id="toast"></paper-toast>
        <paper-dialog id="studentDialog" with-backdrop>
            <paper-dialog-scrollable>
                <div style="width:240px;height:480px">
                    <campus-core-student-list id="studentList" multi-selected></campus-core-student-list>
                </div>
            </paper-dialog-scrollable>
        </paper-dialog>
    </template>
    <script>
    Polymer({
        is: "campus-core-class-student",

        properties: {
            /*
             * 班級
             */
            clazz: {
                type: Object,
                observer: '_clazzChanged'
            }
        },

        behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

        ready: function() {
            this.initTranslate({
                'default': 'zh-tw',
                'zh-tw': {
                    '_01': '學生',
                    '_02': '更新完成!'
                },
                'zh-cn': {
                    '_01': '学生',
                    '_02': '更新完成!'
                },
                'en-us': {
                    '_01': 'Student',
                    '_02': 'Update completed!'
                },
                'vi-vn': {
                    '_01': 'Học sinh',
                    '_02': 'Cập nhật hoàn thành!'
                }
            });

            this.$.studentList.addEventListener('selected', function(e) {
                e.stopPropagation();

                this.set('students', e.detail);
                this._addItems();
                this.$.studentDialog.close();
                this.$.studentList.reload();
            }.bind(this));
        },

        _clazzChanged: function(newValue, oldValue) {
            if (!newValue || !newValue.id) return;

            this._getItems();
        },

        _showStudentDialog: function() {
            this.$.studentList.reload();
            this.$.studentDialog.open();
        },

        _getItems: function() {
            var request = {
                contract: 'schoolaccess',
                service: 'SmartSchool.Class.GetClassStudentList',
                body: ['<Request><Field><ID/><Name/><SeatNo/><StudentNumber/><Status/></Field><Condition><ClassID>', this.clazz.id, '</ClassID></Condition><Order><SeatNo/></Order></Request>'].join('')
            };

            this.generateRequest(request, function(response) {
                if (response && response.StudentList) {
                    var items = [];
                    [].concat(response.StudentList.Student || []).forEach(function(item) {
                        if (item.Status === '一般')
                            items.push(item);
                    });

                    items.sort(function(x, y) {
                        return Math.ceil(x.SeatNo) - Math.ceil(y.SeatNo);
                    });

                    this.set('items', items);
                } else
                    this.set('items', []);
            }.bind(this));
        },

        _addItems: function() {
            if (!this.clazz && !this.students) return;

            var ids = [];
            this.students.forEach(function(s) {
                ids.push(['<ID>', s.id, '</ID>'].join(''));
            });

            var request = {
                contract: 'schoolaccess',
                service: 'SmartSchool.Student.QuickUpdate',
                body: ['<Request><Student><Field><RefClassID>', this.clazz.id, '</RefClassID></Field><Condition>', ids.join(''), '</Condition></Student></Request>'].join('')
            };

            this.generateRequest(request, function(response) {
                if (response && response.Result && Math.ceil(response.Result.$.EffectRows) > 0) {
                    this.$.toast.show({
                        text: this.translate._02,
                        duration: 1000
                    });

                    setTimeout(function() {
                        this.fire('changed', {
                            students: this.students,
                            type: 'Add'
                        });
                    }.bind(this), 1000);

                    this._getItems();
                }
            }.bind(this));
        },

        _removeItem: function(e) {
            var request = {
                contract: 'schoolaccess',
                service: 'SmartSchool.Student.QuickUpdate',
                body: ['<Request><Student><Field><RefClassID></RefClassID></Field><Condition><ID>', e.model.item.$.ID, '</ID></Condition></Student></Request>'].join('')
            };

            this.generateRequest(request, function(response) {
                if (response && response.Result && Math.ceil(response.Result.$.EffectRows) > 0) {
                    this.$.toast.show({
                        text: this.translate._02,
                        duration: 1000
                    });

                    setTimeout(function() {
                        this.fire('changed', {
                            id: e.model.item.$.ID,
                            label: e.model.item.Name,
                            target: e.model.item,
                            type: 'Remove'
                        });
                    }.bind(this), 1000);

                    this._getItems();
                }
            }.bind(this));
        },
    });

    /*
     * 當資料變動 (加入、移除)，將觸發此事件
     * @event changed
     */
    </script>
</dom-module>
