<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../campus-core-teacher/campus-core-teacher-picker.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<!--
`campus-core-class-editor`
@demo demo/campus-core-class-editor.html
-->
<dom-module id="campus-core-class-editor">
    <style include="iron-flex iron-flex-alignment iron-flex-factors"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        
        :host .dark-primary-text-color {
            color: var(--dark-primary-color);
        }
        
        :host .secondary-text-color {
            color: var(--secondary-text-color);
        }
        
        :host .tbar {
            padding: 4px 12px 4px 16px;
            line-height: 24px;
        }
        
        :host .tpib {
            width: 32px;
            height: 32px;
            padding: 4px;
        }
        
        :host .cell-container {
            padding: 16px 8px;
        }
        
        @media (min-width: 780px) {
            :host .cell-item {
                padding: 0 8px;
                width: 226px;
            }
        }
        
        @media (max-width: 779px) {
            :host .cell-item {
                padding: 0 8px;
                flex: 1 1 340px;
            }
        }
    </style>
    <template>
        <div class="layout horizontal center wrap secondary-text-color tbar">
            <div class="flex-auto" style="font-size:18px">[[translate._01]]</div>
            <div class="layout horizontal center" hidden$="[[clazz.isAddNew]]">
                <paper-icon-button class="tpib" icon="icons:done" on-tap="_saveInfo"></paper-icon-button>
                <paper-icon-button class="tpib" icon="icons:refresh" on-tap="_refreshInfo"></paper-icon-button>
                <paper-icon-button class="tpib" icon="icons:delete" on-tap="_deleteInfo"></paper-icon-button>
            </div>
        </div>
        <paper-material style="background:#fff">
            <div class="layout horizontal wrap cell-container">
                <div class="layout vertical cell-item">
                    <div class="layout horizontal">
                        <paper-input style="width:80px" label="[[translate._02]]" value="{{clazz.GradeYear}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._03]]" value="{{clazz.ClassName}}"></paper-input>
                    </div>
                    <div class="layout horizontal center">
                        <campus-core-teacher-picker class="flex" id="teacherPicker" selected="[[clazz.Teacher]]"></campus-core-teacher-picker>
                        <div style="width:10px"></div>
                        <paper-icon-button class="secondary-text-color" icon="clear" on-tap="_removeTeacher"></paper-icon-button>
                    </div>
                </div>
            </div>
        </paper-material>
        <paper-toast id="toast"></paper-toast>
    </template>
    <script>
        Polymer({
            is: "campus-core-class-editor",

            properties: {
                /*
                 * 編輯的班級
                 */
                selected: {
                    type: Object,
                    observer: '_selectedChanged'
                }
            },

            behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

            ready: function() {
                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_01': '基本資料',
                        '_02': '年級',
                        '_03': '名稱',
                        '_04': '更新完成!',
                        '_05': '更新失敗! 請確認資料是否正確!'
                    },
                    'zh-cn': {
                        '_01': '基本资料',
                        '_02': '年级',
                        '_03': '名称',
                        '_04': '更新完成!',
                        '_05': '更新失败! 请确认资料是否正确!'
                    },
                    'en-us': {
                        '_01': 'Info',
                        '_02': 'Grade',
                        '_03': 'Name',
                        '_04': 'Update completed!',
                        '_05': 'Update failed!'
                    },
                    'vi-vn': {
                        '_01': 'Dữ liệu cơ bản',
                        '_02': 'Năm',
                        '_03': 'Tên gọi',
                        '_04': 'Cập nhật hoàn thành!',
                        '_05': 'Cập nhật thất bại, xin xác nhận lại chính xác dữ liệu!'
                    }
                });

                this.$.teacherPicker.addEventListener('changed', function(e) {
                    e.stopPropagation();

                    this.set('teacher', e.detail);
                }.bind(this));
            },

            /*
             * 新增班級
             */
            addNew: function() {
                this.set('selected', null);
                this.set('teacher', null);
                this.set('clazz', {
                    action: 'Insert',
                    isAddNew: true
                });
            },

            _selectedChanged: function(newValue, oldValue) {
                if (!newValue || !newValue.id) return;

                this.set('clazz', {
                    action: 'Update'
                });

                this._getInfo();
            },

            _getInfo: function() {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Class.GetAbstractList',
                    body: ['<Request><Field><ClassID/><GradeYear/><ClassName/><Teacher/></Field><Condition><ClassIDList><ClassID>', this.selected.id,
                        '</ClassID></ClassIDList></Condition><Order><GradeYear/><ClassName/></Order></Request>'
                    ].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.ClassList) {
                        var item = [].concat(response.ClassList.Class || [])[0];

                        this.set('clazz.GradeYear', item.GradeYear);
                        this.set('clazz.ClassName', item.ClassName);
                        this.set('clazz.Teacher', item.Teacher);
                        this.set('clazz.isUpdate', true);
                    }
                }.bind(this));
            },

            _saveInfo: function() {
                var request = {};

                if (this.clazz.action === 'Insert') {
                    request = {
                        contract: 'schoolaccess',
                        service: 'SmartSchool.Class.Insert',
                        body: {
                            Request: {
                                Class: {
                                    Field: {
                                        GradeYear: !isNaN(Math.ceil(this.clazz.GradeYear)) ? Math.ceil(this.clazz.GradeYear) : '',
                                        ClassName: this.clazz.ClassName
                                    }
                                }
                            }
                        }
                    };

                    if (this.teacher) request.body.Request.Class.Field.RefTeacherID = this.teacher.id;
                } else {
                    request = {
                        contract: 'schoolaccess',
                        service: 'SmartSchool.Class.Update',
                        body: {
                            Request: {
                                Class: {
                                    Field: {
                                        GradeYear: !isNaN(Math.ceil(this.clazz.GradeYear)) ? Math.ceil(this.clazz.GradeYear) : '',
                                        ClassName: this.clazz.ClassName
                                    },
                                    Condition: {
                                        ID: this.selected.id
                                    }
                                }
                            }
                        }
                    };

                    if (this.teacher) request.body.Request.Class.Field.RefTeacherID = this.teacher.id;
                }

                this.generateRequest(request, function(response) {
                    if (response && response.Result && Math.ceil(response.Result.$.EffectRows) > 0) {
                        this.$.toast.show({
                            text: this.translate._04,
                            duration: 1000
                        });

                        setTimeout(function() {
                            if (this.clazz.action === 'Insert')
                                this.fire('changed', {
                                    type: 'Insert'
                                });
                            else
                                this.fire('changed', {
                                    id: this.selected.id,
                                    label: this.selected.label,
                                    target: this.clazz,
                                    type: 'Update'
                                });
                        }.bind(this), 1000);
                    }
                }.bind(this));
            },

            _deleteInfo: function() {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Class.Delete',
                    body: ['<Request><Class><ID>', this.selected.id, '</ID></Class></Request>'].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.Result && Math.ceil(response.Result.$.EffectRows) > 0) {
                        this.$.toast.show({
                            text: this.translate._04,
                            duration: 1000
                        });

                        setTimeout(function() {
                            this.fire('changed', {
                                id: this.selected.id,
                                label: this.selected.label,
                                target: this.clazz,
                                type: 'Delete'
                            });
                        }.bind(this), 1000);
                    } else {
                        this.$.toast.show({
                            text: this.translate._05,
                            duration: 1000
                        });
                    }
                }.bind(this));
            },

            _refreshInfo: function() {
                this._getInfo();
            },

            _removeTeacher: function() {
                this.set('teacher', {
                    id: ''
                });
                this.set('clazz.Teacher', '');
            },
        });

        /*
         * 當資料變動 (新增、修改、刪除)，將觸發此事件
         * @event changed
         */
    </script>
</dom-module>
