<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-item/paper-item-body.html">
<link rel="import" href="../paper-spinner/paper-spinner.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<!--
`campus-core-class-list`
@demo demo/campus-core-class-list.html
-->
<dom-module id="campus-core-class-list">
    <style include="iron-flex iron-flex-alignment iron-flex-factors iron-positioning"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            height: 100%;
        }
        
        :host paper-toolbar paper-input {
            --paper-input-container-color: #eee;
            --paper-input-container-focus-color: #fff;
            --paper-input-container-input-color: #fff;
        }
        
        :host paper-item {
            color: var(--secondary-text-color);
        }
        
        :host paper-item:hover {
            background-color: rgba(0, 0, 0, .037);
            cursor: pointer;
        }
        
        :host paper-item-body {
            min-height: 64px;
        }
        
        :host .ellipsis-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        :host .dark-primary-text-color {
            color: var(--dark-primary-color);
        }
        
        :host .paper-header {
            height: 56px;
            padding: 0 16px;
        }
        
        :host .paper-footer {
            height: 56px;
            padding: 0 0 0 16px;
            border-top: 1px solid #ddd;
            margin-top: 8px;
        }
    </style>
    <template>
        <div class="fit layout vertical center-center" hidden$="[[!loadding]]">
            <paper-spinner active="[[loadding]]"></paper-spinner>
        </div>
        <div class="fit layout vertical">
            <paper-header-panel mode="waterfall">
                <paper-toolbar>
                    <paper-input class="flex-auto" no-label-float label="[[translate._01]]" value="{{filterString::input}}">
                        <iron-icon icon="icons:icons:search" style="margin-right:4px" prefix></iron-icon>
                    </paper-input>
                </paper-toolbar>
                <div>
                    <template is="dom-repeat" items="[[items]]" filter="{{_filter(filterString)}}">
                        <paper-item on-tap="_selectItem">
                            <paper-item-body two-line>
                                <div class="layout horizontal center">
                                    <paper-checkbox checked$="[[item.checked]]" hidden$="[[!multiSelected]]"></paper-checkbox>
                                    <div class="ellipsis-text flex">[[item.ClassName]]</div>
                                    <div class="dark-primary-text-color">[[item.GradeLabel]]</div>
                                </div>
                                <div class="layout horizontal center" secondary>
                                    <div class="ellipsis-text flex">[[item.Teacher]]<span hidden$="[[!item.TeacherNickname]]"> ([[item.TeacherNickname]])</span></div>
                                    <div>[[item.StudentCount]]</div>
                                </div>
                            </paper-item-body>
                        </paper-item>
                    </template>
                </div>
            </paper-header-panel>
            <div class="paper-footer layout horizontal center" hidden$="[[!multiSelected]]">
                <paper-checkbox id="checkAll" on-change="_checkedAll">[[translate._03]]</paper-checkbox>
                <div class="flex-auto"></div>
                <paper-button on-tap="_selectChecked">[[translate._04]]</paper-button>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "campus-core-class-list",

            properties: {
                multiSelected: {
                    type: Boolean,
                    value: false
                }
            },

            behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

            ready: function() {
                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_01': '名稱, 教師',
                        '_02': '年級',
                        '_03': '全部選取',
                        '_04': '確定'
                    },
                    'zh-cn': {
                        '_01': '名称, 教师',
                        '_02': '年级',
                        '_03': '全部选取',
                        '_04': '确定'
                    },
                    'en-us': {
                        '_01': 'Name, Teacher',
                        '_02': 'Grade',
                        '_03': 'Select all',
                        '_04': 'OK'
                    },
                    'vi-vn': {
                        '_01': 'Tên gọi, giáo viên',
                        '_02': 'Năm',
                        '_03': 'Select all',
                        '_04': 'OK'
                    }
                });

                this._getItems();
            },

            /*
             * 重新整理清單
             */
            reload: function() {
                this._getItems();
            },

            _getItems: function() {
                this.set('loadding', true);
                this.set('filterString', null);
                this.set('items', []);

                this.$.checkAll.checked = false;

                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Class.GetAbstractList',
                    body: '<Request><Field><ClassID/><GradeYear/><ClassName/><StudentCount/><Teacher/></Field><Order><GradeYear/><ClassName/></Order></Request>'
                };

                this.generateRequest(request, function(response) {
                    if (response && response.ClassList) {
                        var items = [].concat(response.ClassList.Class || []);
                        items.forEach(function(item, idx) {
                            if (Campus.language.code === 'en-us')
                                item.GradeLabel = item.GradeYear ? [this.translate._02, item.GradeYear].join(' ') : '';
                            else
                                item.GradeLabel = item.GradeYear ? [item.GradeYear, this.translate._02].join(' ') : '';

                            item.idx = idx;
                            item.checked = false;
                        }.bind(this));
                        this.set('items', items);
                    } else
                        this.set('items', []);

                    this.set('loadding', false);
                }.bind(this));
            },

            _selectItem: function(e) {
                if (!this.multiSelected) {
                    this.fire('changed', {
                        id: e.model.item.$.ID,
                        label: e.model.item.ClassName,
                        target: e.model.item
                    });
                } else {
                    this.set(['items.', e.model.item.idx, '.checked'].join(''), !this.items[e.model.item.idx].checked);
                }
            },

            _selectChecked: function(e) {
                var items = [];
                this.items.forEach(function(item) {
                    if (item.checked) {
                        items.push({
                            id: item.$.ID,
                            label: item.ClassName,
                            target: item
                        });
                    }
                });

                this.fire('selected', items);
            },

            _filter: function(value) {
                if (!value)
                    return null;
                else {
                    value = value.toLowerCase();
                    return function(item) {
                        return (item.ClassName.toLowerCase().indexOf(value) !== -1 ||
                            item.Teacher.toLowerCase().indexOf(value) !== -1);
                    };
                }
            },

            _checkedAll: function(e) {
                this.items.forEach(function(item, index) {
                    this.set(['items.', index, '.checked'].join(''), e.target.checked);
                }.bind(this));
            }
        });

        /*
         * 每當清單中的選項被選取時，將觸發此事件
         * @event changed
         */

        /*
         * multiSelected = true 選取多筆資料後，將觸發此事件
         * @event selected
         */
    </script>
</dom-module>
