<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-menu/paper-menu.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<!--
`campus-core-class-picker`
@demo demo/campus-core-class-picker.html
-->
<dom-module id="campus-core-class-picker">
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        
        :host paper-item:hover {
            background-color: rgba(0, 0, 0, .037);
            cursor: pointer;
        }
        
        :host paper-dropdown-menu paper-menu {
            --paper-menu: {
                padding: 0;
                min-width: 100px;
                max-height: 320px;
            }
        }
        
        :host .dark-primary-text-color {
            color: var(--dark-primary-color);
        }
    </style>
    <template>
        <paper-dropdown-menu label="[[translate._01]]" style="width:100%">
            <paper-menu class="dropdown-content" selected="[[selected]]" attr-for-selected="value">
                <template is="dom-repeat" items="[[_items]]">
                    <div style="border-top:1px solid #eee;width:100%">
                        <div class="dark-primary-text-color" style="padding:8px 12px;font-size:16px" hidden$="[[!item.label]]">[[item.label]]</div>
                    </div>
                    <template is="dom-repeat" items="[[item.items]]">
                        <paper-item value="[[item.ClassName]]" on-tap="_selectItem">[[item.ClassName]]</paper-item>
                    </template>
                </template>
            </paper-menu>
        </paper-dropdown-menu>
    </template>
    <script>
        Polymer({
            is: 'campus-core-class-picker',

            properties: {
                selected: {
                    type: String
                },
                /*
                 * 取得班級清單
                 */
                items: {
                    type: Array,
                    readOnly: true
                },
                /*
                 * 設定不顯示 `未分班` 選項
                 */
                hiddenNonClass: {
                    type: Boolean,
                    observer: '_nonClassChanged'
                },
                /*
                 * 設定不顯示 `已刪除` 選項
                 */
                hiddenDeleted: {
                    type: Boolean,
                    observer: '_deletedChanged'
                }
            },

            behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

            ready: function() {
                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_01': '班級',
                        '_02': '年級',
                        '_03': '未分班',
                        '_04': '已刪除'
                    },
                    'zh-cn': {
                        '_01': '班级',
                        '_02': '年级',
                        '_03': '未分班',
                        '_04': '已删除'
                    },
                    'en-us': {
                        '_01': 'Class',
                        '_02': 'Grade',
                        '_03': 'Non Class',
                        '_04': 'Deleted'
                    },
                    'vi-vn': {
                        '_01': 'Lớp',
                        '_02': 'Năm',
                        '_03': 'Chưa phân lớp',
                        '_04': 'Đã xóa'
                    }
                });

                this._getItems();
            },

            /*
             * 重新整理清單
             */
            reload: function() {
                this._getItems();
            },

            _nonClassChanged: function(newValue, oldValue) {
                this._renderItems();
            },

            _deletedChanged: function(newValue, oldValue) {
                this._renderItems();
            },

            _getItems: function() {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Class.GetAbstractList',
                    body: '<Request><Field><ClassID/><ClassName/><GradeYear/></Field><Order><GradeYear/><ClassName/></Order></Request>'
                };

                this.generateRequest(request, function(response) {
                    if (response && response.ClassList) {
                        var items = [].concat(response.ClassList.Class || []);
                        this.set('original', items);
                        this._setItems(items);
                    } else
                        this.set('original', []);

                    this._renderItems();
                }.bind(this));
            },

            _renderItems: function() {
                var classes = this.original;

                if (classes) {
                    var items = [];
                    classes.forEach(function(item, index) {
                        if (index === 0) {
                            items.push({
                                label: item.GradeYear ? (Campus.language.code === 'en-us' ? [this.translate._02, item.GradeYear].join(' ') : [item.GradeYear, this.translate._02].join(' ')) : '',
                                items: [item]
                            });
                        } else {
                            if (classes[index].GradeYear !== classes[index - 1].GradeYear) {
                                items.push({
                                    label: item.GradeYear ? (Campus.language.code === 'en-us' ? [this.translate._02, item.GradeYear].join(' ') : [item.GradeYear, this.translate._02].join(' ')) : '',
                                    items: [item]
                                });
                            } else {
                                items[items.length - 1].items.push(item);
                            }
                        }
                    }.bind(this));

                    var extraItems = [];
                    if (!this.hiddenNonClass) extraItems.push({
                        $: {
                            ID: 'nonclass'
                        },
                        ClassName: this.translate._03,
                    });
                    if (!this.hiddenDeleted) extraItems.push({
                        $: {
                            ID: 'deleted'
                        },
                        ClassName: this.translate._04,
                    });

                    items = items.concat([{
                        label: '',
                        items: extraItems
                    }]);

                    this.set('_items', items);

                    if (classes.length > 0) {
                        this.set('selected', this.items[0].ClassName);
                        this.fire('changed', {
                            id: items[0].items[0].$.ID,
                            label: items[0].items[0].ClassName,
                            target: items[0].items[0]
                        });
                    }
                }
            },

            _selectItem: function(e) {
                this.fire('changed', {
                    id: e.model.item.$.ID,
                    label: e.model.item.ClassName,
                    target: e.model.item
                });
            }
        });

        /*
         * 每當清單中的選項被選取時，將觸發此事件
         * @event changed
         */
    </script>
</dom-module>
